<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link href="stylesheets/main.css" rel="stylesheet" />
		<link href="stylesheets/login.css" rel="stylesheet" />
	</head>
	<body class="bg-light">
		<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/"><img src = 'images/logo.gif' width="110" height="25"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Community</a></li>
                    </ul>
                </div>
            </div>
        </nav>
		<!-- LogIN-->
		<div class="login-form bg-login">
			<h1>Login Form</h1>
			<form action="/login" method="POST">
				<input class ="information" type="text" name="ID" placeholder="ID" required>
				<input class ="information" type="password" name="password" placeholder="Password" required>
				<input class ="login bg-wimos" type="submit" value="Login">
			</form>
			<p>
			<a href="/register"><button class = "button bg-wimos">Goto Register</button></a>
			<p>
			<a href="/"><button class = "button bg-wimos">For Guest Only</button></a>
		</div>
	</body>
</html>